/* ===============================
   SEATS
================================ */

.seat {
  padding: 5px;
  display: inline-block;
  color: white;
  border-radius: 4px;
  width: 40px;
  text-align: center;
  cursor: pointer;
}

.seat.available {
  background-color: #8BC34A;
}

.seat.occupied {
  background-color: #F44336;
  cursor: not-allowed;
  opacity: 0.7;
}

/* checkbox oculto */
.seat input[type="checkbox"] {
  display: none;
}
